<div class="layoutContainer">
    <div class="menuContainer">
        <div class="menu-item-group home active" (click)="onSelectMenuItem('home')">
            <div class="menu-item-icon">
                <i class="fa-solid fa-house-chimney"></i>
            </div>
            <div class="menu-item-name">
                Home
            </div>
        </div>
        <div class="menu-item-group user" (click)="onSelectMenuItem('user')">
            <div class="menu-item-icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="menu-item-name">
                User
            </div>
        </div>
        <div class="menu-item-group envelope" (click)="onSelectMenuItem('envelope')">
            <div class="menu-item-icon">
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="menu-item-name">
                Message
            </div>
        </div>
        <div class="menu-item-group question" (click)="onSelectMenuItem('question')">
            <div class="menu-item-icon">
                <i class="fa-solid fa-clipboard-question"></i>
            </div>
            <div class="menu-item-name">
                Questions
            </div>
        </div>
        <div class="menu-item-group gear" (click)="onSelectMenuItem('gear')">
            <div class="menu-item-icon">
                <i class="fa-solid fa-gear"></i>
            </div>
            <div class="menu-item-name">
                Settings
            </div>
        </div>
    </div>
</div>